<div class="shogun-root" data-shogun-id="66e64c5044beae609e167ad2" data-shogun-site-id="a0f248b3-b28b-46d9-91e8-9eb2d8d9b41e" data-shogun-section-id="66e64c5044beae609e167ad2" data-shogun-section-version-id="66e6b35759158c77d3de90ef" data-shogun-platform-type="shopify" data-shogun-variant-id="66e6b35759158c77d3de91e7" data-shogun-page-type="section" data-shogun-power-up-type="" data-shogun-power-up-id="" data-region="main"> <link rel="stylesheet" type="text/css" href="https://a.shgcdn2.com/css-2024-09-05-5919/66e6b35759158c77d3de90ef_66e6b35759158c77d3de91e7.css"/> <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:400"/> <script type="text/javascript" src="https://a.shgcdn2.com/js-2024-09-05-5919/global-assets-88901f6b324eb975ba8033dcedd08422f2fd4db9.js" defer></script> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-3b9fe63e-e8f5-4208-a020-dc3233f7edfe"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-2f3a6baf-ed02-4838-a272-927f0b249a06"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-e556cd9d-b57f-4834-afd3-c943b853c79e" class="shg-c shg-align-center"> <div class="shogun-heading-component"> <h1> White Sunday <br>Offer Close </h1> </div> </div> <div id="s-d7ba4607-db6e-4782-9151-576442e3e887" class="shg-c "> <div id="countdown-s-d7ba4607-db6e-4782-9151-576442e3e887" class="shogun-countdown shogun-countdown-medium"> <div> <span class="days">00</span> <label>DAYS</label> </div> <span>:</span> <div> <span class="hours">00</span> <label>HOURS</label> </div> <span>:</span> <div> <span class="minutes">00</span> <label>MIN</label> </div> <span>:</span> <div> <span class="seconds">00</span> <label>SEC</label> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgCountdown": {
        "id": "#countdown-s-d7ba4607-db6e-4782-9151-576442e3e887",
        "uuid": "s-d7ba4607-db6e-4782-9151-576442e3e887",
        "isStatic": "true",
        "date": "1726718400000",
        "days": 2,
        "hours": 13,
        "minutes": 41,
        "seconds": 43
      }
    }
  </script> </div> </div> </div> </div> </div> </div> </div> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-2e211bcf-453b-422c-beb5-ee016e9df618"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-69aaea8d-8616-454f-a694-bfb1e426c3e4"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-c " id="s-9e912a0b-e6cb-4458-8b15-af7d136376cc"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"></div> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-59c9551e-5dd9-495a-9900-98f8514cb6a7"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-981c5fc7-d501-4f99-ae1b-138721e5e464-root"> <div class="shg-image-margin-container-s-981c5fc7-d501-4f99-ae1b-138721e5e464" id="wrap-s-981c5fc7-d501-4f99-ae1b-138721e5e464"> <div class="s-981c5fc7-d501-4f99-ae1b-138721e5e464 shg-align-container"> <div class="shg-c s-981c5fc7-d501-4f99-ae1b-138721e5e464 shogun-image-container shg-align-center" style="opacity: 1;" id="s-981c5fc7-d501-4f99-ae1b-138721e5e464"> <div class="shg-image-content-wrapper"> <img srcset="https://i.shgcdn.com/6f978268-4a3f-4257-a9a3-10d66e49bfc3/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/180x/ 180w,https://i.shgcdn.com/6f978268-4a3f-4257-a9a3-10d66e49bfc3/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/360x/ 360w,https://i.shgcdn.com/6f978268-4a3f-4257-a9a3-10d66e49bfc3/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/720x/ 720w,https://i.shgcdn.com/6f978268-4a3f-4257-a9a3-10d66e49bfc3/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/900x/ 900w,https://i.shgcdn.com/6f978268-4a3f-4257-a9a3-10d66e49bfc3/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/1080x/ 1080w,https://i.shgcdn.com/6f978268-4a3f-4257-a9a3-10d66e49bfc3/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/1200x/ 1200w,https://i.shgcdn.com/6f978268-4a3f-4257-a9a3-10d66e49bfc3/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/1920x/ 1920w,https://i.shgcdn.com/6f978268-4a3f-4257-a9a3-10d66e49bfc3/-/format/auto/-/preview/3000x3000/-/quality/lighter/-/resize/2048x/ 2048w" sizes="100vw" src="https://i.shgcdn.com/6f978268-4a3f-4257-a9a3-10d66e49bfc3/-/format/auto/-/preview/3000x3000/-/quality/lighter/" width="" height="" style="" alt="" class="shogun-image " decoding="async" loading="eager"/> </div> </div> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-981c5fc7-d501-4f99-ae1b-138721e5e464" }
    }
  </script> </div> </div> </div> </div> </div> </div> </div> </div> </div> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-7bd20002-575a-4961-a93e-81a1255da457"> <div class="shg-box-overlay"></div><div class="shg-box-content"> </div> </div> </div> </div> </div> </div> </div>
{% schema %}
  {
    "name": "shogun_page-1",
    "settings": [
      {
        "type": "header",
        "content": "SHOGUN SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Shogun](https://getshogun.com/shopify/deep_links/edit_section?id=66e64c5044beae609e167ad2&shop=fashioncorp24.myshopify.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Shogun Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "shogun_page-1",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
